@use 'functions' as *;
@use 'helpers' as *;

@mixin fluid-text($max: 48, $min: 16) {
  font-size: fluid($max, $min);
}

@mixin hide {
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}

@mixin flex-center($isInline: false) {
  @if ($isInline) {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin abs-cover {
  position: absolute;
  inset: 0;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin abs-x {
  position: absolute;
  left: 50%;
  translate: -50%;
}

@mixin abs-y {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin focus-visible {
  outline: 2px dashed var(--color-white);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

@mixin disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@mixin no-focus-outline {
  &:focus-within {
    outline: none;
  }
}

@mixin scrollbar($thumb: var(--color-black-06), $track: var(--color-black-25), $width: 4px) {
  @-moz-document url-prefix() {
    scrollbar-width: thin;
    scrollbar-color: $thumb $track;
  }

  &::-webkit-scrollbar {
    width: $width;

    &-track {
      background: $track;
      border-radius: 999px;
      margin-block: 5px;
    }

    &-thumb {
      background: $thumb;
      border-radius: 999px;

      transition: var(--transition-duration);

      @include hover {
        background: var(--color-black-08);
      }
    }
  }
}

@mixin dark-autofill {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-white);
    caret-color: var(--color-white);
    box-shadow: 0 0 0 1000px var(--color-black-08) inset;
    transition: background-color 9999s ease-in-out 0s;
  }
}
