@use '@/styles/helpers' as *;

.review-card {
  display: grid;
  height: 100%;
  row-gap: fluid-to-laptop(20, 16);

  padding: fluid(40, 24);

  background-color: var(--color-black-06);
  border: var(--border);
  border-radius: var(--border-radius-l);

  &--own {
    border-color: var(--color-red-45);
    box-shadow: 0 0 0 1px rgb(229 0 0 / 30%);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 10px;
  }

  &__name,
  &__country {
    font-weight: 500;
  }

  &__country {
    color: #888888b9;
  }
}
