@use '@/styles/helpers' as *;

.rating-input {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;

  &__stars {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &__value-wrapper {
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
  }

  &__value {
    width: 46px;
    padding: 4px 6px;
    color: var(--color-white);
    font-weight: 600;
    font-variant-numeric: tabular-nums;
    background-color: var(--color-black-08);
    border: var(--border);
    border-radius: var(--border-radius-xxs);
    cursor: pointer;
  }

  &__stepper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    max-width: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateX(-4px);

    transition:
      max-width var(--transition-duration),
      opacity var(--transition-duration),
      transform var(--transition-duration);
  }

  &__value-wrapper.is-open {
    .rating-input__stepper {
      max-width: 24px;
      height: 60px;
      opacity: 1;
      transform: translateX(0);
      overflow: visible;
    }
  }

  &__stepper-button {
    width: 36px;
    height: 16px;
    padding: 0;
    color: var(--color-gray-60);
    line-height: 1;
    background: transparent;
    border: 0;
    cursor: pointer;

    & svg {
      transition: var(--transition-duration);
    }

    @include hover {
      color: var(--color-white);
    }

    &.is-active {
      color: var(--color-white);
      filter: drop-shadow(0 0 8px rgb(229 0 0 / 35%));

      & svg {
        transform: translateX(2px);
      }
    }
  }
}

.chevron {
  &-up {
    rotate: -90deg;
  }

  &-down {
    rotate: 90deg;
  }
}
