@use '@/styles/helpers' as *;

.rating-stars {
  --ratingStarsValue: 5;
  --starsGap: 4px;
  --indicatorHeight: 18px;
  --indicatorWidth: 98px;

  display: flex;
  align-items: center;
  column-gap: var(--starsGap);

  &--large {
    --starsGap: 8px;
    --indicatorHeight: 36px;
    --indicatorWidth: 196px;
  }

  &__indicator {
    position: relative;
    width: var(--indicatorWidth);
    height: var(--indicatorHeight);
    flex-shrink: 0;

    img {
      display: block;
    }

    &-filled-wrapper {
      position: absolute;
      inset: 0;
      width: calc(100% / 5 * var(--ratingStarsValue));
      overflow: hidden;
    }

    &-filled {
      width: var(--indicatorWidth);
      height: var(--indicatorHeight);
      max-width: none;
    }
  }
}
