@use '@/styles/helpers' as *;

.tabs-navigation {
  --tabsNavigationPadding: #{fluid-to-laptop(10, 8)};
  overflow: hidden;

  &.is-resizing {
    .tabs-navigation__indicator {
      transition: none;
    }
  }

  position: relative;
  display: flex;
  column-gap: 4px;
  inline-size: fit-content;
  max-inline-size: 100%;
  padding: var(--tabsNavigationPadding);
  border: var(--border);
  border-radius: var(--border-radius-m);
  background-color: var(--color-black-06);

  &__indicator {
    position: absolute;
    top: var(--tabsNavigationPadding);
    left: var(--tabsNavigationPadding);
    z-index: 0;
    block-size: calc(100% - var(--tabsNavigationPadding) * 2);
    border-radius: var(--border-radius-s);
    background-color: var(--color-black-12);
    pointer-events: none;
    transition:
      left var(--transition-duration),
      width var(--transition-duration);

    @include laptop {
      border-radius: var(--border-radius-xs);
    }
  }
  @include laptop {
    border-radius: var(--border-radius-s);
  }

  @include mobile {
    inline-size: 100%;
  }

  &__button {
    @include reset-button;
    @include fluid-text(18, 14);

    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    min-inline-size: fluid-to-laptop(130, 108);
    min-block-size: fluid-to-laptop(56, 48);
    padding-inline: fluid-to-laptop(24, 18);
    border-radius: var(--border-radius-m);
    color: var(--color-gray-60);
    line-height: 1.2;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition-duration: var(--transition-duration);

    @include laptop {
      border-radius: var(--border-radius-xs);
    }

    @include mobile {
      flex: 1;
      min-inline-size: 0;
    }

    @include hover {
      color: var(--color-white);
      background-color: var(--color-black-08);
    }

    &.is-active {
      background-color: transparent;
    }

    &:focus-visible {
      outline: 2px solid var(--color-white);
      outline-offset: 3px;
    }
  }
}
