@use '@/styles/helpers' as *;

.slider-navigation {
  display: flex;
  align-items: center;

  column-gap: fluid-to-laptop(16, 12);
  padding: fluid-to-laptop(16, 12);
  background-color: var(--color-black-06);
  border: var(--border);
  border-radius: var(--border-radius-l);

  &--round {
    column-gap: fluid-to-laptop(10, 8);
    background-color: transparent;
    border: 0;
    padding: 0;

    .slider-navigation__arrow-button {
      flex: 0 0 auto;
      inline-size: fluid-to-laptop(44, 40);
      block-size: fluid-to-laptop(44, 40);
      padding: 0;
      border-radius: 50%;
      background-color: var(--color-black-08);
    }
  }

  &__icon {
    width: 17px;
    height: auto;
    color: var(--color-white);
    transition: transform var(--transition-duration) ease;
  }

  &__arrow-button {
    &--prev {
      rotate: 180deg;
    }

    @include hover {
      .slider-navigation__icon {
        transform: translateX(4px);
      }
    }

    &.is-clicked {
      .slider-navigation__icon {
        animation: arrow-click 0.35s ease;
      }
    }

    &:disabled {
      .slider-navigation__icon {
        color: var(--color-gray-65);
      }
    }
  }

  &__pagination {
    display: flex;
    column-gap: 3px;

    &-bullet {
      width: 16px;
      height: 4px;
      background-color: var(--color-black-20);
      border-radius: 100px;
      transition-duration: var(--transition-duration);

      &.is-active {
        width: 23px;
        background-color: var(--color-red-45);
      }
    }
  }

  @include laptop {
    border-radius: var(--border-radius-m);
  }
}

.movie-details__reviews-navigation {
  justify-content: center;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes arrow-click {
  0% {
    transform: translateX(4px) scale(1);
  }

  50% {
    transform: translateX(8px) scale(0.92);
  }

  100% {
    transform: translateX(4px) scale(1);
  }
}

@keyframes arrow-click-lite {
  0% {
    transform: translateX(4px) scale(1);
  }

  50% {
    transform: translateX(6px) scale(0.92);
  }

  100% {
    transform: translateX(4px) scale(1);
  }
}
